---
- name: restart chrony
  ansible.builtin.service:
    name: chrony
    state: restarted

- name: chrony sources restart
  ansible.builtin.service:
    name: chrony
    state: restarted
  listen: reload chrony sources
  when:
    - ansible_facts.distribution_major_version | int > 0
    - (
      ansible_facts.distribution == "Ubuntu"
      and ansible_facts.distribution_version is version("21.10", "<=")
      ) or (
      ansible_facts.distribution == "Debian"
      and ansible_facts.distribution_major_version is version("10", "<=")
      )
  register: _chrony_restart

- name: chronyc sources reload
  ansible.builtin.command:
    cmd: chronyc reload sources
  listen: reload chrony sources
  when: _chrony_restart is skipped
